<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Originally residing in Atlanta, GA, Xander Carlson has always been fond of building and designing creating a wide variety of things in the workshop. 
          After graduating high school and moving up to Wake Forest, NC in 2019, he began working on his Associate's Degree and continued to work in various essential 
          working positions, during the pandemic, that allowed him to gain profound experience and knowledge. </p>
      </div>
      <div class="col-lg-4">
        <p>After being accepted into the Reich School of Education, at Appalachian State University, he achieved his Bachelor's Degree in Technology, Engineering, and Design Education. 
          During his time at App State, he worked with First Citizens Bank's Enterprise Learning and Talent Development Teams to gather data on trainings happening in the bank and propose new training hubs for the future. 
          He also completed his student teaching at Heritage Middle working with 6th, 7th, and 8th graders in Technology Education as well as chaperoning and coordinating multiple work-based learning opportunities for his students. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> My Resume
        </a>
      </div>
    </div>
  </div>
</section>
